<mat-toolbar>
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  Consents Dashboard
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav class="mat-elevation-z8">
    <a routerLink="/give-consents" mat-button class="menu-button">
      Give Consents
    </a>

    <a routerLink="/consents" mat-button class="menu-button"> Consents </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
